@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&family=Open+Sans:wght@300;400&display=swap");
$white: #FFFBF4;
$beige: #FBEDDD;
$blue: #99C3F3;
$gray: #736C65;
$black: #544E49;
$titleFont : 'Fredoka', sans-serif;
$card-height: 100%;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
  background-color: $white;
}

.categoryBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 3rem 0;
}

.categoryBtn{
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.species {
  width: 18%;
}


#ascending {
  transition: all 0.2s;
}

.species, .ascending{
  background-color: $blue;
  color: $black;
}

.clickedBtn{
  background-color: $black;
  color: $blue;
}


.descending{
  background-color: $black;
  color: $blue;
  border: 1px solid red;
}

.button {
  border: 0.1rem solid $blue;
  border-radius: 0.4em;
  padding: 0.3em;
  font-size: 1rem;
  &:hover{
    opacity: 0.9;
  }
}

#search{
  &::placeholder{
    color: $gray;
  }
  &:focus{
    background-color: transparent;
    outline: $black auto 1px;
  }

}

#clear {
  background-color: $gray;
  border: 0.1rem solid transparent;
  color: $white;
  border-radius: 0.4rem;
  padding: 0.3rem 0;
  font-size: 1rem;

  &:hover{
    background-color: $black;
    border: 0.1rem solid $black;
    color: $white;
  }
}

#clear, #ascending, #search{
  width: 15rem;
}

#container {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 3rem;
}

.card-col{
  height: 28rem;
}

.card {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
  &:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.30);
  }
}


.card-img-top{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(transparent, rgba(0,0,0,0.8));
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $white;
  
}

h4.card-title{
  font-family: $titleFont;
  color: $white;
  font-size: 2rem;
}

.card-text{
  font-size: 0.8em;
}

.breedText{
  opacity: 0.8;
}

.distanceText{
  color: $beige;
}

.fa-heart {
  color: $blue;
  z-index: 2;
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}



@media screen and (min-width:992px) {
  body{
    font-size: 20px;
  }

  .categoryBox{
    flex-direction: row;
    column-gap: 1.5rem;
  }


}
